<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menambahkan Garment</title>
</head>
<body>
    <h1>Add a Garment</h1>
    <ul>

    <form action="/garments" method="post">
        <li>
            <label for="name">Nama Garment</label>
            <input type="text" name="name" id="name">
        </li>
        
        <li>
            <label for="location">Nama lokasi</label>
            <input type="text" name="location" id="location">
        </li>
       
        <li>
            <label for="contact">Masukan Contact</label>
            <input type="text" name="contact" id="contact">
        </li>
        
        <button type="submit">Submit</button>
    </form>
    </ul>
    <a href="/garments">Kembali</a>


</body>
</html>