<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
    <% for(let Product of product) { %>
        <li>
            <a href="/product/<%= Product.id %>"> 
                
            <%= Product.name %> - <%= Product.brand %> </li> <% } %> </a>

    </ul>
</body>
</html>