<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Products khusus</title>
</head>
<body>
    <form action="/product/khusus" method="get">
    <h1> Products Khusus</h1>
    <ul>
        <li>Produk Barang terlarang</li>
        <li>Produk Barang yang kurang dilarang</li>
        <li>Produk produk ya produk</li>    
     
    </ul>

</form>

<a href="/product">Kembali</a>

</body>
</html>